* {
  padding: 0;
  margin: 0;
}

html{
	background-image: url(../img/presupuesto.jpg);
	background-size: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  padding: 10px;
  width: 100%;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 590px;
}

#primera-mitad {
  width: 30%;
  min-height: 100px;
}

#presupuesto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  background-color: rgba(176, 255, 173, 0.8);

  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  font-size: 100%;
  align-self: center;
  padding: 0.5em;
  outline: none;
  border: 1px solid rgb(87, 87, 87);
  background-color: transparent;
  border-radius: 20px;
  width: 90%;
}

input:hover{
	border:1px solid rgb(0, 0, 0)
}

label {
  font-size: 100%;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(39, 39, 39);
}

.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover {
  color: black;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#gastos-container {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  background-color: rgba(255, 179, 179, 0.8);
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

#segunda-mitad {
  width: 45%;
  margin-left: 20px;
  min-height: 100px;
  padding: 5px;
  border: 2px solid rgb(60, 60, 255);
  background-color: rgba(170, 170, 255, 0.8);
  border-radius: 10px;
}

#math-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

#math-container > div{
	width: 20%;
	height: 40px;
	display: flex;
	justify-content: center;
}

h2{
	font-size: 14px;
}

.montos{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.montos > div{
  display: flex   ;
  justify-content: center;
}

#tabla-container{
  width: 100%;
  min-height: 300px;
}

table{
  width:100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th{
  text-align: left;
  border-bottom: 1px solid black;
  padding: 3px 0;
}

td{
  padding: 3px 0;  
}

img{
  width: 20%;
}